<ng-container
  *ngrxLet="{
    recommendationsList: recommendationsList$,
    recStatus: recStatus$
  } as vm"
>
  @switch (vm.recStatus) {
    @case ('loading') {
      <mat-progress-bar mode="indeterminate"/>
    }
    @case ('loaded') {
      <recommendations-form></recommendations-form>
      <recommendations-list
        [recommendationsList]="vm.recommendationsList"
        (deleteRecommendation)="deleteRecommendation($event)"
      />
    }
    @case ('error') {
      Ошибка
    }
  }
</ng-container>


