<div class="wrapper-charts">
  <div class="container-fluid">
    <div class="row g-3">

      <div class="col-12 col-md-6">
        <mat-expansion-panel class="chart h-100">
          <mat-expansion-panel-header class="panel-header">
            <mat-panel-title>Шаги</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div class="chart-container">
              <ngx-charts-bar-vertical
                [view]="getResponsiveView()"
                [scheme]="colorScheme"
                [results]="stepsData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="'Дни'"
                [yAxisLabel]="'Количество шагов'"
              ></ngx-charts-bar-vertical>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
