.wrapper-charts {
  padding: 20px 0;

  .charts-grid {
    align-items: stretch;
  }
  .chart-panel {
    height: auto;
    border-radius: 8px;
    background-color: var(--sys-surface-container-highest);
    box-shadow: 0 2px 8px var(--sys-surface-dim);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 16px var(--sys-surface-dim);
    }

    .chart-container {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 350px;
      color: var(--sys-inverse-surface);
      background-color: var(--sys-surface-container-high);
    }
  }
}
