<div class="wrapper">
  <form
    class="login-form p-4 border shadow-sm bg-white w-100"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <h3 class="text-center mb-4">Вход в аккаунт</h3>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
      >
      <mat-error>Нада</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
      >
      <mat-error>Нада</mat-error>
    </mat-form-field>

    <p class="text-end small">
      Нет аккаунта?
      <a routerLink="/register" routerLinkActive>Зарегистрируйтесь</a>
    </p>

    <button
      class="submit-button"
      mat-flat-button
      color="primary"
      [disabled]="!loginForm.valid"
      type="submit"
    >
      Войти
    </button>
  </form>
</div>
