.header__nav-item a {
  padding: 0;
}

.nav-link {
 color: var(--sys-inverse-surface)
}

.header {
  background-color: var(--sys-surface-container-high);
}

.un-auth-items a {
  color: var(--sys-inverse-surface);
}
