<mat-toolbar
  *ngrxLet="isAuthenticated$ as isAuth"
  class="header"
>
  <div class="container d-flex justify-content-between align-items-center flex-wrap">
    <nav class="d-flex align-items-center">
      <ul class="header__nav nav gap-3">
        <li class="header__nav-item">
          <a class="nav-link text-decoration-none" routerLink="">Главная</a>
        </li>
        <li class="header__nav-item">
          <a class="nav-link" routerLink="/reviews">Отзывы</a>
        </li>
        <li class="header__nav-item">
          <a class="nav-link" routerLink="/about">О нас</a>
        </li>
        @if (isAuth) {
          <li class="header__nav-item">
            <a class="nav-link" routerLink="/recommendations">Рекомендации</a>
          </li>
        }
      </ul>
    </nav>

    <div class="d-flex align-items-center gap-3">
      <button mat-icon-button (click)="darkMode.set(!darkMode())">
        @if(darkMode()) {
          <mat-icon>light_mode</mat-icon>
        } @else {
          <mat-icon>dark_mode</mat-icon>
        }
      </button>
      @if (isAuth) {
        <logout-button></logout-button>
        <button mat-icon-button routerLink="/profile">
          <mat-icon>person_outline</mat-icon>
        </button>
      } @else {
        <div class="un-auth-items d-flex align-items-center gap-2">
          <a class="text-decoration-none" routerLink="/login">Вход</a>
          <span>/</span>
          <a class="text-decoration-none" routerLink="/register">Регистрация</a>
        </div>
      }
    </div>
  </div>
</mat-toolbar>
