<mat-card class="review-card">
  <mat-card-header class="review-title">
    {{ review.name }}
  </mat-card-header>
  <mat-card-content class="content-wrapper d-flex flex-column flex-grow-1 gap-1">
    <p class="description">
      {{ review.description }}
    </p>
    <div class="stars d-flex justify-content-end">
      @for (star of [1, 2, 3, 4, 5]; track star) {
        <mat-icon>
          {{ star <= review.rating ? 'star' : 'star_border' }}
        </mat-icon>
      }
    </div>
  </mat-card-content>
</mat-card>
