<ng-container
  *ngrxLet="{
    user: user$,
    activitiesData: activitiesData$,
    profileStatus: profileStatus$,
  } as vm"
>
  @switch (vm.profileStatus) {
    @case ('loaded') {
      <div class="profile-wrapper">
        <profile class="user-profile" [user]="vm.user"></profile>
        <profile-charts [activitiesData]="vm.activitiesData"></profile-charts>
      </div>

    }
    @case ('loading') {
      <mat-progress-bar mode="indeterminate"/>
    }
    @case ('error') {
      ошибка
    }
  }
</ng-container>
