.profile-wrapper {
  display: flex;
  flex-direction: column;
}

.user-profile {
  max-width: 400px;
  width: 100%;
  align-self: center;
  color: var(--sys-inverse-surface);
}

.profile-charts {
  color: var(--sys-inverse-surface);
}
