.rec-card {
  max-width: 1100px;
  position: relative;
  padding-bottom: 16px;
  background-color: var(--sys-surface-container-high);
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 48px;
  color: var(--sys-inverse-surface);
}

.card-date {
  align-self: flex-end;
}

.card-actions {
  position: absolute;
  right: 0;
  top: 0;
}

.remove-button {
  color: var(--sys-error);
}
