<div class="wrapper">
  <form
    class="register-form p-4 border shadow-sm bg-white w-100"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <h3 class="text-center mb-4">Регистрация</h3>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
      >
      <mat-error>Нада</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
      >
      <mat-error>Нада</mat-error>
    </mat-form-field>

<!--    <mat-form-field>-->
<!--      <mat-label>Пол</mat-label>-->
<!--      <mat-select [(value)]="registerForm.controls.gender">-->
<!--        <mat-option value="male">Мужчина</mat-option>-->
<!--        <mat-option value="female">Женщина</mat-option>-->
<!--      </mat-select>-->
<!--      <mat-error>Выберете пол</mat-error>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="register-form__age-field">-->
<!--      <mat-label>Возраст</mat-label>-->
<!--      <input matInput [matDatepicker]="picker" formControlName="age">-->
<!--      <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--      <mat-error>Укажите возраст</mat-error>-->
<!--    </mat-form-field>-->

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
      >
      <mat-error>Нада</mat-error>
    </mat-form-field>

    <p class="text-end small">
      Уже есть аккаунт?
      <a routerLink="/login" routerLinkActive>Войти</a>
    </p>

    <button
      class="submit-button"
      mat-flat-button
      color="primary"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Зарегистрироваться
    </button>
  </form>
</div>
