.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border-radius: 5px;
  gap: 10px;
}

.register-form__age-field {
  max-width: 212px;
}

.submit-button {
  max-width: 200px;
  width: 100%;
  border-radius: 5px;
}

.form-field {
  max-width: 248px;
  width: 100%;
}

